.header-block {
    outline: 2px solid #008eff;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
}

.header-block__logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

.header-block__logo--light-mode {
    color: #000000;
}

.header-block__menu {
    display: flex;
}

.menu__menu-list {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
}

.menu__menu-list--light-mode {
    color: #000000;
}

.menu__menu-list:hover {
    cursor: pointer;
}

.menu__menu-list_active {
    margin-left: 20px;
    color: #008eff;
}


/* @media all and (max-widht:425px) {

    .header-block {
        height: 80px;
        padding: 0 5px 0 10px;
        font-size: 15px;
    }

    .header-block__menu {
        font-size: 15px;
    }

    .menu__menu-list, .menu__menu-list_active {
        margin-left: 15px;
    }
    

} */