.projects-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-block__header{
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 50px;
    color: #ffffff;
}

.projects-block__project{
    width: 60%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project{
    outline: 3px double #008eff;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__image{
    border-bottom: 1px solid;
    border-radius: 5px 5px 10px 10px;
    height: 150px;
}

.project__title{
    font-family: sans-serif;
    margin-left: 5px;
    font-size: 20px;
    color: #ffffff;
}